body {
  background-color: rgba(158, 177, 113, 0.726);
}

h1 {
  color: black;
  text-align: center;
  font-size: 60px;
  margin-top: 5%;
}

.myForm {
  text-align: center;
  font-size: 20px;
}

input {
  margin: 1pxs;
  border-radius: 5px;
  padding: 7px;
  border: none;
  margin-top: 0.5em;
}

label {
  font-size: 10px;
  margin-bottom: 10%;
}

.submitButton {
  width: 5%;
  transition: all 0.3s ease 0s;
  opacity: 1;
  cursor: pointer;
}

.submitButton:hover {
  opacity: 0.75;
}

.alphaButton {
  width: 7%;
  transition: all 0.3s ease 0.1s;
  opacity: 1;
  cursor: pointer;
}

.alphaButton:hover {
  opacity: 0.75;
}

.PushedList {
  text-align: center;
  font-size: 40px;
  margin-top: 3em;
  margin-bottom: 100px;
}

/* .dataTitle, */
.firstTable {
  display: inline;
}

.myTable {
  display: flexbox;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

.appendedLis {
  /* background-color: blue; */
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 3;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 1px;
}

/* .tableInput {
} */

.titleRow {
  font-size: 40px;
}

.dataTitle {
  font-size: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(92, 148, 185);
  color: white;
  border: 1px solid #ddd;
  padding: 30px;
}

.appendedTr:nth-child(even) {
  background-color: gray;
}

.appendedTr:hover {
  background-color: rgb(150, 104, 104);
}
